<!DOCTYPE html>
<title>{% block title %}{% endblock %} -</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav>
  <h1>Lenguajes</h1>
  <body class="html">
    <ul>
      {% for actor in actores %}
      <li>{{lenguaje['name'] }}</li>
      {% endfor %}
    </ul>
  </body>
</nav>
<section class="content">
  <header>{% block header %}{% endblock %}</header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %} {% block content %}{% endblock %}
</section>
